{{ define "main" }}

{{ $data := index $.Site.Data $.Site.Language.Lang }}
{{ .Scratch.Add "icons" (slice "download" "paper") }}

<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1>{{ .Title }}</h1>
                {{- $overview := partial "overview" (dict "context" . "content" $data.prijave.overview) -}}
                {{- $overview = print "</div></div>" $overview "<div class=\"row\"><div class=\"col-md-8 mx-auto\">" -}}
                {{- $content := .Content -}}
                {{- $content = replaceRE "{overview}" $overview $content }}
                {{ $content | safeHTML }}
            </div>
        </div>
    </div>
</section>

{{ end }}
