{{ define "main" }}

{{ partial "page-title" . }}

<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            <article class="col-12">
            {{ .Page.Content }}
            </article>
        </div>
        <div class="row">
            {{ if ne .Params.list false }}
                {{ range (.Paginator 6).Pages }}
                <article class="col-12 col-md-6 col-lg-4">
                    <div class="post-item">
                        <a href="{{ .RelPermalink }}">
                            {{ if .Site.Params.displayImagesInList }}
                                {{ $image := .Params.image }}
                                {{ if not $image }}
                                    {{ $image = "/images/gallery-default.jpg" }}
                                {{ end }}
                                {{ $image := resources.Get $image }}
                                {{- if $.Site.Params.compression -}}
                                    {{- $image = $image.Fit $.Site.Params.imageDimensions.blogThumb -}}
                                {{- end -}}
                                <div class="post-thumb">
                                    <img src="{{ $image.RelPermalink }}" class="img-fluid" alt="{{ .Title }}">
                                </div>
                            {{ end }}
                            <div class="post-title">
                                <h2 class="mt-0">
                                    {{ .Title }}
                                </h2>
                            </div>
                        </a>
                        {{- if not .Date.IsZero -}}
                        <div class="post-meta">
                            <span>
                                <time datetime="{{ .Date }}">
                                    {{ .Date.Format .Site.Params.dateFormat }}
                                </time>
                            </span>
                        </div>
                        {{- end -}}
                        <div class="post-content">
                            <p>
                                {{ .Summary }}
                                <a href="{{ .RelPermalink }}" tabindex="-1">{{ i18n "read-more" }}...</a>
                            </p>
                        </div>
                    </div>
                </article>
                {{ end }}
                <div class="col-12 text-center">
                    {{ partial "pagination" . }}
                </div>
            </div>
        {{ end }}
    </div>
</section>

{{ partial "newsletter" (dict "context" . "tags" (slice "website" "news")) }}

{{ end }}

