{{ define "main" }}

<section class="blog-single section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 mx-auto">
                <h1>{{ .Title }}</h1>
                {{- if not .Date.IsZero -}}
                <div class="post-meta mb-4">
                    <span>
                        {{ i18n "objavljeno" }}
                        <time datetime="{{ .Date }}">
                            {{ .Date.Format .Site.Params.dateFormat }}
                        </time>
                    </span>
                </div>
                {{- end -}}
                {{- if and (.Params.image) (not .Params.nocover) -}}
                    <img src="{{ .Params.image | absURL }}" class="post-image" alt="{{ if .Params.imageAlt }}{{ .Params.imageAlt }}{{ else }}{{ .Title }}{{ end }}">
                {{- end -}}
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ end }}
