.title {
    padding-bottom: 50px;
    text-align: center;
}

.title h2 {
    font-size: 35px;
    color: var(--text-color);
    margin-bottom: 8px;
    font-weight: 700;
}

.title h4 {
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.title p {
    color: var(--secondary-text-color);
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .title p {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .title p {
        width: 80%;
    }
}

.title .border {
    border: none;
    display: inline-block;
    border-radius: 3px;
    height: 6px;
    position: relative;
    width: 90px;
    margin-bottom: 10px;
}

.title .border {
    background: var(--accent-color);
}
