@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");

/* CSS variables for all colors on the site */
:root {
    /* Main background color */
    --background-color: #FFFFFF;
    /* RGB components of the main background color */
    --background-color-rgb: 255, 255, 255;
    /* For surfaces that stand out */
    --accent-color: #009999;
    /* Darkened active color for hovered elements */
    --accent-color-darkened: #007070;
    /* Color of most text */
    --text-color: #1F2532;
    /* Color of text with less emphasis */
    --lower-contrast-text-color: #5B5B5B;
    /* Text color on dark surfaces */
    --dark-text-color: #FFFFFF;
    /* Text color on secondary surfaces */
    --secondary-text-color: #BBBCBE;
    /* Background color of dark surfaces, such as the navigation bar */
    --dark-background-color:#1F2532;
    /* Background color on secondary surfaces */
    --secondary-background-color: #F9F9F9;
    /* When an element has a permanent shadow, this is its color */
    --permanent-shadow-color: rgba(0, 0, 0, 0.12);
    /* When an element has a shadow only on hover, this is its color */
    --hover-shadow-color: #CCC;
    /* Background color of elements that overlay the main content */
    --overlay-background-color: rgba(0, 0, 0, 0.8);
    /* Background color when hovering over team member cards */
    --card-hover-background-color: #F4F4F4;
    /* Outline color of team specialization tags */
    --specialization-outline-color: #E0E0E0;
    /* Link color */
    --link-color: #007BFF;
    /* Guide line color */
    --guide-line-color: #CCC;
    --guide-line-color-darker: #AAA;
    /* Soft card background */
    --soft-card-background: #EEE;
}

html {
    background-color: var(--dark-background-color);
}

body {
    line-height: 1.4;
    font-family: "Titillium Web", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
}

p {
    font-family: "Titillium Web", sans-serif;
    color: var(--text-color);
    font-size: 15px;
    text-align: justify;
    text-align-last: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

ul {
    list-style: disc;
    margin: 0 0 1rem 1rem;
    padding: 0;
}

ol {
    list-style: decimal;
    margin: 0 0 1rem 1rem;
    padding: 0;
}

figure {
    margin: 0;
}

a {
    transition: all .3s ease-in 0s;
    color: var(--link-color);
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: var(--link-color);
    text-decoration: underline;
    outline: 0;
}

.btn-main, .btn-main-sm {
    background: var(--accent-color);
    color: var(--dark-text-color);
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 40px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 2px;
}

.btn-main:hover, .btn-main-sm:hover {
    background: var(--dark-background-color);
    color: var(--dark-text-color);
}

.btn-main-sm {
    padding: 8px 20px;
    font-size: 12px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.btn:focus {
    color: var(--secondary-text-color);
}

.section {
    padding: 50px 0;
}

p img {
    display: block;
    max-width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

@media (max-width: 480px) {
    .section {
        padding: 40px 0;
    }
}

.padding-0 {
    padding: 0;
}

@media (max-width: 768px) {
    .padding-0 {
        padding: 0 15px;
    }
}

.section-sm {
    padding: 70px 0;
}

.section-xs {
    padding: 40px 0;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

blockquote {
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 0 0.5rem 1rem;
    font-size: 22px;
    line-height: 22px;
    border-left: 0.3rem solid var(--hover-shadow-color);
    font-style: italic;
}

blockquote > p {
    color: var(--lower-contrast-text-color);
    margin: 0.5rem 0 0 0;
}

blockquote::before {
    position: absolute;
    content: "â€";
    font-size: 60px;
    font-family: sans-serif;
    color: var(--hover-shadow-color);
}

.img-fluid {
    box-shadow: 0 0 30px 0 var(--permanent-shadow-color);
    border-radius: 0.25rem;
}

table {
    width: 100%;
    margin: 15px 0px 25px 0;
    border-collapse: collapse;
    border: 1px solid var(--secondary-text-color);
}

table th {
    padding: 8px 12px;
    border: 1px solid var(--secondary-text-color);
    border-bottom: 3px double var(--secondary-text-color);
}

table tr th:empty {
    display: none;
}

table td {
    padding: 5px 10px;
    border: 1px solid var(--secondary-text-color);
}

code {
    color: var(--text-color)
}

body .katex-display {
    display: flex;
    justify-content: center;
}

.shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.34);
}

.gradient, .title .border, .service-2 .service-item i {
  background-image: linear-gradient(100deg, #f9643d, #fe2a77);
}

.header-bradcrumb {
  background: transparent;
}

.header-bradcrumb a, .header-bradcrumb .active {
  color: #cfcfcf;
  font-weight: 200;
  font-family: "Titillium Web", sans-serif;
}

.header-bradcrumb a:hover {
  color: #f0326b;
}

.single-page-header {
  background: #1f2532;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  position: relative;
}

.single-page-header .breadcrumb {
  background: transparent;
  display: inline-block;
}

.single-page-header .breadcrumb li {
  display: inline-block;
}

.single-page-header .breadcrumb li a {
  color: #f0326b;
}

.navigation {
  transition: .3s all;
  background: #1f2532;
}

.top-bar {
  position: sticky;
  top: 0;
  width: 100%;
  color: #fff;
  transition: all 0.2s ease-out 0s;
  padding: 10px 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.navigation .navbar-nav > li.active .nav-link {
  color: #fff;
}

.navigation .navbar-nav > li > .nav-link {
  color: #b6b8bb;
  font-size: 15px;
  line-height: 26px;
  padding: 20px 15px !important;
  transition: .2s ease-in-out 0s;
  text-transform: capitalize;
}

@media (max-width: 480px) {
  .navigation .navbar-nav > li > .nav-link {
    padding: 8px 0 !important;
  }
}

@media (max-width: 991px) {
  .navigation .navbar-nav > li > .nav-link {
    padding: 8px 0 !important;
  }
}

.navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:active, .navigation .navbar-nav > li > a:focus {
  background: none;
  color: #f0326b;
}

.navigation .navbar-toggler {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

.navigation .nav .open > a {
  background: none;
}

.navigation .dropdown {
  padding: 0;
}

.navigation .dropdown .dropdown-item {
  padding: 8px 15px;
  color: #fff;
  font-size: 13px;
}

.navigation .dropdown .dropdown-item:hover {
  background: transparent;
  color: #f0326b;
}

.navigation .dropdown .dropdown-menu {
  border-radius: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  background-color: #000;
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s;
  transition: transform 0.3s,opacity 0.3s ease-in-out;
  transition: transform 0.3s,opacity 0.3s ease-in-out,-webkit-transform 0.3s;
}

.navigation .dropdown:hover .dropdown-menu {
  transition: opacity 0.3s ease-in-out,-webkit-transform 0.3s;
  transition: transform 0.3s,opacity 0.3s ease-in-out;
  transition: transform 0.3s,opacity 0.3s ease-in-out,-webkit-transform 0.3s;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.navbar-brand {
  height: auto;
  padding: 8px 0;
}

.navbar-brand h1 {
  margin: 0;
}

.navbar-brand img {
  height: 64px;
  width: 64px;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

/*=================================================================
  Latest Posts
==================================================================*/
.post-item {
  background: #fff;
  margin-bottom: 40px;
}

.post-item .post-thumb {
  margin-right: 10px;
}

.post-item .post-thumb img {
  height: auto;
}

.post-item .post-title {
  margin-top: 20px;
}

.post-item .post-title h3 {
  font-size: 23px;
}

.post-item .post-title h3 a {
  color: #000;
}

.post-item .post-meta {
  font-size: 14px;
  color: #888;
}

.post-item .post-meta a {
  color: #000;
  margin: 3px 0;
}

.post-item .post-content p {
  color: #757575;
  margin: 10px 0;
}

.post-item .btn-main, .post-item .btn-main-sm {
  font-size: 12px;
  margin-top: 10px;
  padding: 8px 20px;
  margin: 15px 0;
}

/*=================================================================
  Single Blog Page
==================================================================*/
#blog-banner {
  padding-bottom: 100px;
  padding-top: 150px;
}

#blog-page {
  margin: 0 0 40px;
}

.post-excerpt {
  padding: 0 20px;
  margin-bottom: 60px;
}

.post-excerpt h3 a {
  color: #000;
}

.post-excerpt blockquote {
  line-height: 22px;
  margin: 20px 0;
  font-size: 16px;
}

.single-blog {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
}

.blog-subtitle {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.next-prev {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  margin: 20px 0;
  padding: 25px 0;
}

.next-prev a {
  color: #000;
}

.next-prev a:hover {
  color: #f0326b;
}

.next-prev .prev-post i {
  margin-right: 10px;
}

.next-prev .next-post i {
  margin-left: 10px;
}

.author-about {
  margin-top: 40px;
}

.post-author {
  margin-right: 20px;
}

.post-author > img {
  border: 1px solid #dedede;
  max-width: 120px;
  padding: 5px;
  width: 100%;
}

.pagination{
  justify-content: center;
}
.pagination li{
  margin: 0 5px;
  font-size: 20px;
}
.pagination li a{
  color: #404040;
}
.pagination li.disabled a{
  color: #cccccc;
}
.pagination li.active a{
  background-color: #f0326b !important;
  border-color: #f0326b !important;
  font-weight: 600;
}

.page-404 {
  height: 100vh;
}

.page-404 h1 {
  font-size: 200px;
}
