/* Not currently used */
.testimonial {
    background: #f0326b;
    position: relative;
}

.testimonial .item i {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
    display: inline-block;
}

.testimonial .item .client-details {
    padding-bottom: 30px;
}

.testimonial .item .client-details p {
    font-size: 17px;
    color: #fff;
    font-weight: 200;
    padding: 0 10%;
}

.testimonial .item .client-meta {
    margin-top: 8px;
    color: #fff;
}

.testimonial .item .client-meta h4 {
    margin-bottom: 4px;
}

.testimonial .item .client-meta span {
    font-size: 12px;
}

.testimonial .item .client-thumb img {
    display: inline-block;
    border-radius: 100%;
    width: 90px;
    height: auto;
}
