<div class="row">
    <div class="col-md-12 mx-auto mt-30">
        {{ range $i, $v := index $.content }}
            {{ $side := "left" }}
            {{ if modBool $i 2 }}
                {{ $side = "right" }}
            {{ end }}
            <section class="interleaved-list {{ $side }}">
                <div class="text-column">
                    <h2>{{ $v.title }}</h2>
                    <p>{{ $v.text | markdownify }}</p>
                </div>
                {{ if fileExists (print "static/images/" $v.image) }}
                    {{ $image := resources.Get (print "images/" $v.image) }}
                    {{- if $.context.Site.Params.compression -}}
                        {{- $image = $image.Fit $.context.Site.Params.imageDimensions.interleavedListImage -}}
                    {{- end -}}
                    <img src="{{ $image.RelPermalink }}" alt="{{ $v.alt }}">
                {{ end }}
            </section>
        {{ end }}
    </div>
</div>

{{ partial "css-bundle" (dict "context" .context "bundle" "interleaved-list") }}
