{{- $type := .Get 0 -}}
{{- $autonumber_id := (print "autonumber-" $type) -}}
{{- .Page.Scratch.Add $autonumber_id 1 -}}
{{- $autonumber := .Page.Scratch.Get $autonumber_id -}}
{{- $id := .Get 2 -}}
{{- if $id -}}
    {{- .Page.Scratch.SetInMap "fig-number" $id $autonumber -}}
{{- end -}}
<figure id="fig-{{ $type | anchorize }}-{{ if $id }}{{ $id | anchorize }}{{ else }}{{ $autonumber }}{{ end }}">
    <div>{{ .Inner | markdownify }}</div>
    <figcaption><strong>{{ $type }} {{ $autonumber }}.</strong> {{ .Get 1 | markdownify }}</figcaption>
</figure>
